@font-face {
  font-family: 'Selawik';
  src: url('../fonts/selawk.eot'); /* IE9 Compat Modes */
  src: url('../fonts/selawk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/selawk.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Selawik Light';
  src: url('../fonts/selawkl.eot'); /* IE9 Compat Modes */
  src: url('../fonts/selawkl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/selawkl.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    position: relative;
    overflow-x: hidden;   
    font-family: 'Segoe UI', 'Selawik';
    padding-top: 49px;
    background-color: #eee;
}

.segoe-ui {
    font-family: 'Segoe UI', 'Selawik' !important;
}

.selawik-light {
    font-family: 'Segoe UI Light', 'Selawik Light' !important; 
}

#hero {
    background: url('../img/header-ui.jpg');
    background-attachment: fixed;
}

#hero-img {
    position: fixed;
}

#footer {
    padding: 16px 0;
    border-top: 1px solid #bbb;
}

.transparent {
    background-color: transparent !important;
}

.container {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

body, html {
    height: 100%;
}

.blue {
    color: #0078d7 !important;
}

.blue-bg {
    background-color: #0078d7 !important;
}

.dblue {
    color: #0063b1 !important;
}

.dblue-bg {
    background-color: #0063b1 !important;
}

.black {
    color: #000 !important;
}

.black-bg {
    background-color: #000 !important;
}

.grey {
    color: #333 !important;
}

.grey-bg {
    background-color: #333 !important; 
}

.white {
    color: #fff !important;
}

.white-bg {
    background-color: #fff !important;
}

.main-nav {
    border-radius: 0;
    border-bottom: 1px solid #bbb;    
}

.navbar-default .navbar-nav > li > a {
    color: #0063b1;
}

.navbar-brand {
    font-weight: bold;
}

.prof-pic {
    border-radius: 100%;
}

.glyph-larger {
    font-size: 150%;
}

.doing {
    height: 500px;
}

#ui {
    background: url('../img/ui-perpus.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 200%;  
    background-position: 0 -180px;
    border-bottom: 2px solid #0063b1;
}

#ristek {
    background: url('../img/ristek.jpg'); 
    background-repeat: no-repeat;
    background-size: auto 180%;  
    background-position: 0 -164px;
    border-bottom: 2px solid #0063b1;
}

#compfest {
    background: url('../img/compfest.jpg'); 
    background-repeat: no-repeat;
    background-size: auto 180%;  
    background-position: 0 -164px;
    border-bottom: 2px solid #0063b1;
}

.btn-group {
    margin-top: 0 !important;
}